{
  "presets": ["env", "react"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["auto-import", {
      "declarations": [
        { "default": "React", "members": ["Component", "Fragment"], "path": "react" }
      ]
    }]
  ]
}